.header {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 1px 0px 3px 0px #0003;
}
.header__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar_desktop {
    display: none;
}
.navbar_desktop__list_items {
    list-style: none;
}
.navbar_desktop__item {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
}
.logo__link,
.logo__link:hover,
.logo__link:active,
.logo__link:visited,
.navbar_desktop__item_link,
.navbar_desktop__item_link:hover,
.navbar_desktop__item_link:active,
.navbar_desktop__item_link:visited {
    text-decoration: none;
    color: inherit;
}
.navbar_desktop__languaje {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 15px;
    font-weight: 700;
}
.navbar_desktop__languaje_link {
    display: inline-block;
    margin-left: 15px;
}
.navbar_desktop__languaje_icon {
    width: 30px;
    vertical-align: middle;
}
.navbar_mobile {
    margin: 0 10px;
}
.navbar_mobile__toggle_menu {
    cursor: pointer;
}
button.header__register_btn {
    position: absolute;
    right: 10%;
    top: calc(100% + 20px);
    background-color: #E92027;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .navbar_desktop {
        display: flex;
    }
    .navbar_mobile {
        display: none;
    }
}

.footer {
    background-color: #fff;
}
.footer__container {
    background-color: #1f3564;
    border-radius: 0 200px 0 0;
    padding: 50px 0;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__col_right,
.footer__col_left {
    width: 50%;
    max-width: 550px;
}
.footer__col_left {
    display: flex;
}
.footer__col_left_logo {
    width: 20%;
    display: flex;
    align-items: center;
}
.footer__col_left_logo_image {
    width: 100%;
    max-width: 130px;
}
.footer__col_left_description {
    width: 80%;
    padding: 10px;
}
.footer__button:hover,
.footer__button:active,
.footer__button:visited,
.footer__button {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 10px;
    font-weight: 700;
}
.footer__button__azul {
    background-color: #0071ba;
}
.footer__button__azul_claro {
    background-color: #29a9e0;
}
.footer__button__rojo {
    background-color: #e92027;
    margin-bottom: 20px;
}
.footer__text {
    color: #fff;
    margin: 20px 0;
    font-size: .8rem;
}
.footer__social_link:hover,
.footer__social_link:active,
.footer__social_link:visited,
.footer__social_link {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
}
.footer__social_icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer__col_right {
    padding: 10px 0 0 30px;
}
.footer__form {
    margin-top: 80px;
}
.footer__input_mail {
    background: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 20px;
    color: #fff;
    font-size: .9rem;
    margin: 0 20px 10px 0;
    max-width: 270px;
    width: 100%;
}
.footer__input_submit {
    background-color: #fff;
    color: #1b2e57;
    border: none;
    outline: none;
    padding: 9px 20px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}
.footer__nav {
    margin-top: 80px;
}
.footer__list {
    text-align: center;
}
.footer__list_item {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 0;
    margin-bottom: 5px;
}
.footer__list_item__link:hover,
.footer__list_item__link:active,
.footer__list_item__link:visited,
.footer__list_item__link {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: .9rem;
}
.footer__right {
    text-align: center;
    padding: 30px 0;
}
.footer__logo {
    margin-bottom: 10px;
}
@media screen and (max-width: 1300px) {
    .footer__button:hover, 
    .footer__button:active, 
    .footer__button:visited, 
    .footer__button {
        padding: 5px 17px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 767px) {
    .footer__container {
        border-radius: 0;
    }
    .footer__col_right, 
    .footer__col_left {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__col_left_description .footer__text.mt-80 {
        margin-top: 30px !important;
    }
    .footer__col_left {
        flex-wrap: wrap;
    }
    .footer__col_left_logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__col_left_logo_image {
        margin: 0 auto;
    }
    .footer__col_left_logo,
    .footer__col_left_description {
        width: 100%;
    }
    .footer__col_right {
        margin-top: 50px;
        padding-left: 0;
    }
    .footer__col_right,
    .footer__col_left_description {
        text-align: center;
    }
    .footer__button.footer__button__azul,
    .footer__button.footer__button__rojo {
        display: inline-block;
        margin: 0 auto 10px;
    }
    .footer__form {
        margin-top: 10px;
    }
}

.property_item {
    display: inline-block;
    max-width: 300px;
    background-color: #fff;
    border-radius: 18px;
    overflow: hidden;
    transition: box-shadow .4s;
    margin-bottom: 30px;
}
.property_item:hover {
    box-shadow: 0px 0px 15px 2px #0005;
}
.property_item__link,
.property_item__link:active,
.property_item__link:hover {
    text-decoration: none;
}
.property_item__thumbnail {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.property_item__image {
    width: 100%;
    vertical-align: middle;
}
.property_item__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-size: .9rem;
    text-transform: uppercase;
}
.property_item__label__exclusiva {
    background-color: #e92027;
    color: #fff;
}
.property_item__details {
    padding: 10px 20px;
}
.property_item__description__light {
    font-weight: 300;
}
.property_item__direction {
    font-size: .8rem;
    display: block;
    margin-bottom: 20px;
    color: #808080;
}
.property_item__type {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    display: block;
    font-weight: 300;
}
.property_item__price {
    font-weight: 700;
    display: block;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.property_item__features {
    list-style: none;
    margin-bottom: 10px;
}
.property_item__feature {
    display: inline-block;
    margin-right: 10px;
    font-size: .8rem;
    color: #808080;
    font-weight: 300;
}
.property_item__icon {
    width: 50px;
    max-width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.property_item__code {
    display: block;
    text-align: center;
    color: #e92027;
    font-weight: 600;
    font-size: .9rem;
}
/* #################### FIN DE ESTILOS REUTILIZADOS #################### */


/* SLIDER */
.properties_slider {
    width: 100%;
    padding: 50px 0;
    margin-bottom: 50px;
}
.properties_slider__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
    margin-bottom: 50px;
}
.properties_slider__title__light {
    font-weight: 300;
}
@media screen and (max-width: 991px) {
    .properties_slider__title {
        font-size: 1.6rem;
    }
}

/* BUSCADOR */
.search {
    width: 100%;
    background-color: #fff;
    font-size: .9rem;
}
.search__form {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.search__method__input_radio {
    display: none;
}
.search__method {
    min-width: 295px;
}
.search__label_method {
    padding-top: 25px;
    display: inline-block;
    background-color: #1F3564;
    color: #fff;
    border-radius: 0 0 16px 16px;
    position: relative;
    font-size: .8rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    cursor: pointer;
}
.search__label_method:nth-of-type(2){
    margin-left: -10px;
} 
.search__method__input_radio:checked + .search__label_method {
    background-color: #969DAF;
    z-index: 10;
}
.search__order,
.search__status {
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.search__label_status {
    cursor: pointer;
}
.search__label_status:nth-of-type(1) {
    margin-right: 20px;
}
.search__filter_btn,
.search__order_select,
.search__status__input_radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.search__status__input_radio {
    width: 20px;
    height: 20px;
    background-color: #8C8C8C;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0px;
}
.search__status__input_radio:checked {
    background-color: #E92027;
}
.search__order_select,
.search__order_select:focus {
    background: none;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: .9rem;
    max-width: 150px;
}
.search__filter_btn {
    border: none;
    background-color: #E92027;
    color: #fff;
    padding: 10;
    min-width: 200px;
    min-height: 50px;
    border-radius: 0 0 16px 16px;
    cursor: pointer;
}
.search__method,
.search__status,
.search__order,
.search__filter {
    width: max-content;
}
@media screen and (max-width: 1299px) {
    .search__filter_btn {
        max-width: 150px;
        min-width: auto;
        padding: 0 5px;
    }
    .search,
    .search__filter_btn,
    .search__label_method,
    .search__order_select,
    .search__order_select:focus {
        font-size: .8rem;
    }
    .search__label_status:nth-of-type(1) {
        margin-right: 10px;
    }
}
@media screen and (max-width: 991px) {
    .search__form {
        flex-wrap: wrap;
    }
    .search__method, 
    .search__status, 
    .search__order, 
    .search__filter {
        width: 50%;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .search__method {
        order: 1;
    }
    .search__filter {
        order: 2;
    }
    .search__status {
        order: 3;
    }
    .search__order {
        order: 4;
    }
}

/* SEARCH RESULTS */
.search__content_result {
    display: grid;
    grid-template-columns: calc(24.75% - 6px) calc(24.75% - 6px) calc(24.75% - 6px) calc(24.75% - 6px);
    gap: 0 12px;
}
.property_item {
    max-width: 100%;
    margin: 0 auto 40px;
}

@media screen and (max-width: 1299px) {
    .search__content_result {
        grid-template-columns: calc(33.333% - 6px) calc(33.333% - 6px) calc(33.333% - 6px);
        gap: 0 10px;
    }
}
@media screen and (max-width: 991px) {
    .search__content_result {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        gap: 0 10px;
    }
}@media screen and (max-width: 576px) {
    .search__content_result {
        grid-template-columns: 100%;
    }
}